mixin sg-list(type, items, subItems, subSubItems)
    - var i = 0
    #{type}&attributes(attributes)
        while i < items
            li
                =lipsum('2', 'sentences')
                if subItems
                    if i === 0
                        #{type}&attributes(attributes)
                            - var j = 0
                            while j < subItems
                                li
                                    =lipsum('2', 'sentences')
                                    if subSubItems
                                        if j === 0
                                            #{type}
                                                - var k = 0
                                                while k < subItems
                                                    li
                                                        =lipsum('2', 'sentences')
                                                    - k++
                                - j++
            - i++