include ../Includes/_styleguide

block vars

doctype html

html(lang='de')
    head
        meta(name="viewport" content="initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=0,width=device-width")
        meta(charset="utf-8")
        title Styleguide
        block stylesheets
    body.styleguide
        block page
        block javascript
        #screen
        #overlay-bg