extends base

block assets
    link(rel="stylesheet" href="/stylesheets/styleguide.min.css")
    link(rel="stylesheet" href="/stylesheets/shared.min.css")
    script(src="/javascripts/styleguide.min.js" defer)
    script(src="/javascripts/shared.min.js" defer)

block main
    +styleguide-header
    +styleguide-sidebar
    iframe.app-frame(src="/styleguide/modules/index.html" name="modules")
