header
    nav.navbar.navbar-light(role= 'navigation')
        .container
            .navbar-header
                a.navbar-brand(href='/styleguide/')
                    | Styleguide
            .collapse.navbar-collapse#sg-nav
                ul.nav.navbar-nav.pull-xs-right

                    li.nav-item.dropdown
                        a.nav-link.dropdown-toggle(data-toggle='dropdown' role='button' aria-haspopup='true' aria-expanded='false')
                            | Basis-Stile
                            span.caret
                        ul.dropdown-menu
                            li.dropdown-item
                                a(href= 'pages/01-base/colors.html' target= 'styleguide') Farben

                    li.nav-item.dropdown
                        a.nav-link.dropdown-toggle(data-toggle='dropdown' role='button' aria-haspopup='true' aria-expanded='false')
                            | Atome
                            span.caret
                        ul.dropdown-menu
                            li.dropdown-item
                                a(href= 'pages/02-atoms/headings.html' target= 'styleguide') Überschriften

                    li.nav-item.dropdown
                        a.nav-link.dropdown-toggle(data-toggle='dropdown' role='button' aria-haspopup='true' aria-expanded='false')
                            | Moleküle
                            span.caret
                        ul.dropdown-menu
                            li.dropdown-item
                                a(href= 'pages/03-molecules/navigation.html' target= 'styleguide') Navigation

                    li.nav-item.dropdown
                        a.nav-link.dropdown-toggle(data-toggle='dropdown' role='button' aria-haspopup='true' aria-expanded='false')
                            | Organismen
                            span.caret
                        ul.dropdown-menu
                            li.dropdown-item
                                a(href= 'pages/04-organism/header.html' target= 'styleguide') Header
                            li.dropdown-item
                                a(href= 'pages/04-organism/footer.html' target= 'styleguide') Footer