mixin styleguide-header()
    header.styleguide-header.navbar.navbar-inverse.bg-inverse
        .container-fluid
            a.navbar-brand(href="/styleguide") Styleguide
            button.navbar-toggler.btn.btn-unstyled.icon.icon-menu(type="button" data-toggle="sidebar" data-target="#js-styleguide-sidebar" aria-controls="js-styleguide-sidebar" aria-expanded="false" aria-label="Toggle navigation")
