mixin styleguide-sidebar()
    nav#js-styleguide-sidebar.styleguide-sidebar
        ul.nav.nav-pills.nav-stacked
            each level1Item, i1 in styleguide
                li.nav-item
                    if( level1Item.url )
                        a.nav-link(target="modules" href="/styleguide"+level1Item.url)= level1Item.caption
                    else
                        span.nav-link= level1Item.caption

                    if( level1Item.children && level1Item.children.length )
                        ul
                            each level2Item, i2 in level1Item.children
                                li.nav-item
                                    a.nav-link(target="modules" href="/styleguide"+level2Item.url)= level2Item.caption
