extends ../../../../../node_modules/queo-styleguide/src/pug/atomic/template/modules

block headline
    | <%= category %>

block modules
    .container
        +<%= id %>()
        +highlight
          +<%= id %>()
