extends ../../../../../node_modules/queo-styleguide/src/pug/atomic/template/modules
include ../../../app/atomic/organism/<%= id %>

block headline
    | <%= category %>

block modules
    .container
        +<%= id %>()
        +highlight
          +<%= id %>()
