.navbar {
    background-color: #e3f2fd;
    border-bottom: 1px solid darken(#e3f2fd, 50%);

    .navbar-brand {
        font-size: $font-size-base;
    }

    .navbar-collapse {
        border: none;
        box-shadow: none;
    }

    .caret {
        margin-left: 5px;
    }

    .dropdown-menu {
        border-radius: 0;
        box-shadow: none;
    }
}